
.spinner {
  border: 4px solid #f3f3f3; /* Gris claro */
  border-top: 4px solid #3498db; /* Azul */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.image-container {
  position: relative;
  min-height: 150px; /* O el tamaño mínimo que quieras para el contenedor */
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

